.header_container{
    grid-area: 2 / 2 / 2 / 6;
    background-color: rgba(173, 216, 230, 0.7);
    display: flex;
    justify-content: space-around;
    border-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
}